.CategoryView{
    background-color: #f3f6f9;
    height:100vh;
    position:relative;
}
.page {
    background-color: #f3f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add New Chapter box */
.chapter-box {
    width: 520px;
    height: 160px;
    background: white;
    border: 2px dashed #4da3ff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #7a7a7a;
    margin-top:100px;
}

/* Form */
.form-box {
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-box input,
.form-box .textarea {
    width: 100%;
    padding: 10px;
    background: #fff;

font-size: 15px;
    border: none;
    border-radius: 4px;
    outline: none;
}
