.container {
    padding: 20px;
}

.mainCard {
    background: #fff;
    padding: 35px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

.mainTitle {
    font-size: 22px;
    font-weight: 700;
    color: #1e3a8a;
    margin-bottom: 25px;
}

.sectionTitle {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0 15px;
}

/* Textarea section */
.textAreaWrapper {
    position: relative;
    margin-bottom: 35px;
}

.textarea {
    width: 100%;
    min-height: 140px;
    padding: 14px;
    border-radius: 6px;
    border: 2px solid #CBD5E1;
    box-sizing: border-box;
    font-size: 14px;
}

.deleteBox {
    position: absolute;
    right: 0;
    bottom: -38px;
    background: #9CA3AF;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.table tr{
    border: 1px solid #e5e7eb;
}
.imagesSection {
    margin: 25px 0;
}
.table th {
    background: #f1f5f9;
    text-align: left;
    padding: 10px;
    font-size: 13px;
    border: none !important;
}

.table td {
    border: none !important;
    padding: 10px;
    font-size: 13px;
}

.table input {
    width: 100%;
    padding: 6px 8px;
    font-size: 13px;
    border:none;
    background: transparent;
    outline: none;
}

.trash {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Add row */
.addRow {
    margin-top: 15px;
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
.navigation {
    margin: 40px 0;
    padding: 25px;
    background-color: white;
    border-radius: 10px;

}

.navButtons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.middleButton{
    display: inline-flex;
    align-items: center;
    padding: 18px 0px;
    background-color: #FFFFFF;
    color: #64748B;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    font-style: italic;
    width: 282px;
    justify-content: center;
}
.saveButton {
    display: inline-flex;
    align-items: center;
    padding: 14px 0px;
    background-color: #10B981;
    color: white;
    border: 1px solid #10B981;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    width: 197px !important;
    justify-content: center;
}



.nextButton {
    display: inline-flex;
    align-items: center;
    padding: 18px 0px;
    background-color: #FFFFFF;
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    font-style: italic;
    width: 282px;
    justify-content: center;
}



.saveIcon {
    font-size: 20px;
    margin-right: 12px;
}

.arrowIcon {
    font-size: 20px;
    margin-left: 12px;
}