.mainTitle {
    color: #1E3A8A;
    font-size: 26px;
    font-weight: 700;
}
.sectionTitle {
    color: #0F172A;
    font-weight: 700;
    margin-bottom: 10px !important;
    background: #FFF;
    border-radius: 4px;
    padding: 14px 18px;
    font-size: 16px;
}
.imageSection {
    display: flex;
    gap:50px;
}
.addRow {
    margin-top:0px;
    margin-bottom:15px;
    height: 30px;
    padding: 0px 30px;
    background-color: #3B82F6;
    color: white;
    border: 1px solid #3B82F6;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    min-width: 180px;
}
.addImageButton{
    height:50px;
    background: #3B82F6;
}
.imageGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 900px;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .imageGrid {
        grid-template-columns: 1fr;
    }
}

.imagePlaceholder {
    background-color: #f8f9fa;
    border: 2px dashed #bdc3c7;
    border-radius: 10px;
    min-height: 140px;
    width:350px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.imagePlaceholder:hover {
    border-color: #3498db;
    background-color: #ecf0f1;
}

.placeholderIcon {
    font-size: 18px;
    color: #95a5a6;
}

.placeholderText {

font-size: 15px;
    color: #7f8c8d;
    font-style: italic;
    text-align: center;
}

.previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.addImageButton {
    background-color: #3B82F6;
    color: #FFFFFF;
    border: none;
    width: 240px;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #3B82F6;
}

.addImageButton:hover {
    background-color:#2563EB;
}


.addIcon {
    font-size: 20px;
    margin-right: 8px;
}