.calendar-page {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
}
.calH3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.calendar-card, .deadline-card {
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 55%;
    box-shadow: 0 2px 12px rgba(0,0,0,0.05);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:300px;
}
.deadline-info{
    position: relative;
    display: flex;
    flex-direction: column;

}
.calendar-header button {

    border: 1px solid #2563EB;
    padding: 6px 10px;
    color:#2563EB;
    border-radius: 6px;
    cursor: pointer;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    height:400px !important;
    margin-top: 20px;
}

.day-label {
    font-weight: bold;
    text-align: center;
    opacity: 0.6;
}

.day-box {
    border: 1px solid #eee;
    height: 55px;
    border-radius: 8px;
    padding: 5px;
    position: relative;

}

.day-box .calendar-dot{
    position:absolute;
    bottom:5px;
    right:5px;
}

.day-box span {
    font-size: 14px;
}

.empty {
    height: 55px;
}

.dotEvent{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    right: 6px;
}
.dotEvent2{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    margin-bottom: 50px;

}


.deadline-card h3 {
    margin-bottom: 15px;
}

.deadline-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.deadline-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deadline-title {
    font-weight: 600;
    margin-left:18px ;
    font-size: 14px;
}

.deadline-date {
    font-size: 12px;
    opacity: 0.6;
    margin-left:18px;
    margin-top: 5px;
}

.deadline-badge {
    background: #f5f7ff;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
}
