.wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.wrapper h1 {
    text-align: center;
}


.placeholder {
    color: #999;
    cursor: pointer;
    font-style: italic;
}
