.calendar-wrapper {
  background: white;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.07);
  margin-bottom: 30px;
}
.calendar-list{
    height:300px;
    overflow: auto;
}
.main h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.calendar-row {
  display: grid;
  grid-template-columns: 150px 1fr 20px;
  align-items: center;
  padding: 2px 0;
}

.calendar-row:last-child {
  border-bottom: none;
}

.date-badge {
  background: #E5E7EB;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 13px;
    text-align: center;
  font-weight: 600;
}

.task-title {
  font-size: 14px;
  margin-left: 20px;
}

.status-dot {
  width: 11px;
  height: 11px;
  background: #00d46c;
  border-radius: 50%;
}

/* Responsive */
@media (max-width: 800px) {
  .calendar-row {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}
