.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    padding: 24px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 24px;
}

.contentTemplate {
    background: #FFF;
    flex-grow: 1;
    border-radius: 4px;
    overflow-y: auto;
}