.wraper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.wraper > h3 {
    font-size: 18px;
}

.wraper > h3 > span {
    font-size: 16px;
}

.wraper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    gap: 10px;
}

.wraper ul li {
    padding: 6px 15px;
    background: #E0F2FE;
    border-radius: 50px;
    color: #075985;
}

.wraper p {
    font-size: 12px;
    font-weight: normal;
    color: #E2E8F0;
}