.item {
    list-style: none;
    padding: 5px 20px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}
.name {
    font-size: 16px;
    font-weight: 600;
    color: #222;
    display: block;
    margin-bottom: 20px !important;
}

.table {
    width: 100%;
    border: 1px solid lightgray;
    border-collapse: collapse;   /* IMPORTANT */
    margin-bottom: 40px;
}

.tablehead, .tabledata{
    border: none;
    width: auto !important;
    text-align: start !important;
    padding: 20px !important;

}

.tablerow{
    border-bottom:1px solid lightgray !important;
}
