.header {
  width: 100%;
  background: #ffffff;
   padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
  
}
.firstSec{
    width:55%;
    margin-left:20px;
    display: flex;
    align-items: center;
     gap:50px;
   
}
.secSec{
    width: 40%;
 
    display: flex;
    margin-right: 20px;
    align-items: center;
    gap:20px;
    justify-content: end;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}

.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  background: #f1f3f5;
  padding: 8px 15px;
  border-radius: 50px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.new-project-btn {
  background: linear-gradient(90deg, #7d40ff, #00c3ff);
  color: white;
  font-size: 14px;
  padding: 10px 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

.icon-btn {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
}
