.header {
    width: 100%;
    background: #ffffff;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 0px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);


    background: linear-gradient(90.5deg, rgba(37, 99, 235, 0.98) 0%, rgba(79, 70, 229, 0.98) 99.89%);


}

.header a.back-to-dashboard {
    display: flex;
    gap: 5px;
    background: #FFF;
    padding: 8px 14px;
    border-radius: 50px;
    font-size: 12px;
    align-items: center;
}

.firstSec {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: start;
    flex-grow: 1;
}

.secSec {
    width: auto;

    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

.firstSec > a {
    text-decoration: none;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
    font-style: italic;
    color: #fff;
    text-transform: capitalize;
}

.search-box {
    flex: 1;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 9px 10px;
    border-radius: 50px;
    max-width: 26rem;
    border: 1px solid rgba( 255, 255, 255, 0.5);
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);*/
    transition: all 0.2s ease-in-out;
    gap: 10px;

}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    height: 18px;
    color: #FFF;
}

/* For modern browsers */
.search-box input::placeholder {
    color: #FFF;
    opacity: 0.5;
}

/* For Webkit-based browsers (Chrome, Safari) */
.search-box input::-webkit-input-placeholder {
    color: #FFF;
    opacity: 0.5;
}

/* For Mozilla Firefox */
.search-box input::-moz-placeholder {
    color: #FFF;
    opacity: 0.5;
}

/* For Internet Explorer and Edge */
.search-box input::-ms-input-placeholder {
    color: #FFF;
    opacity: 0.5;
}



.new-project-btn {
    background: linear-gradient(90deg, #1ec6cd, #4f46e5);
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 700;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
}

.right-buttons {
    display: flex;
    gap: 12px;
}

.icon-btn {
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 800;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    gap: 5px;
    color: #FFF;
    height: 43px;
}

.icon-btn.new {
    background: #FFF;
    color: #4f46e5;
    font-weight: bold !important;
    width: 173px;
}


.icon-btn .text {
    font-weight: normal; /* only text italic */
    letter-spacing: 0.5px;
    font-size: 12px;
}

.icon-btn.new .text {
    font-weight: bold !important;
}

.icon-btn .icon {
    font-style: normal;
    margin: 0;
    display: flex;
}

