.header {
    height: 44px;
    width: 100%;
    background: linear-gradient(90deg, #2f6cf6, #5b5ff5);
    display: flex;
    align-items: center;
    padding: 0 14px;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-weight: bold;
}

/* Left */
.headerLeft {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    cursor: pointer;
    color:#fff
}

.arrow {
    font-size: 16px;
}

/* Center */
.headerCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    font-weight: 500;
}

/* Right */
.headerRight {
    margin-left: auto;
    font-size: 16px;
    cursor: pointer;
}
