.RequestList{
    padding:20px
}
.top-header-box {
    background: white;
    padding: 20px 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.04);
}

.back-gradient-btn {
    background: linear-gradient(90deg, #6A5AE0, #00C6FB);
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.back-gradient-btn:hover {
    opacity: 0.9;
}

.header-title {
    font-size: 20px;
    font-weight: 700;
    color: #222;
}

.header-title span {
    font-weight: 600;
}

.filter-header-box {
    background: white;
    padding: 15px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.04);
    margin-bottom: 25px;
    width:100%;
}

/* SEARCH BOX */
.search-box1 {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f7f9fc;
    border: 1px solid #E5E8EC;
    padding: 10px 14px;
    border-radius: 4px;

    width:60% !important;
}

.search-icon {
    font-size: 14px;
    opacity: 0.6;
}

.search-input1 {
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
    width: 100%;
}

/* FILTER DROPDOWNS */
.filters {
    display: flex;
    align-items: center;
    gap: 12px;
    width:40%;
}

.filter-select {
    background: white;
    border: 1px solid #E5E8EC;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    width:100%;
}

/* WRAPPER */
.request-list-wrapper {
    margin-top: 20px;
    width: 100%;
    background: white;
    padding:20px;
    border-radius: 4px;
}

/* SECTION TITLE */
.section-title1{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #1a1a1a;
}

/* MAIN CARD */
.request-card {
    display: flex;
    flex-direction: column;
    gap:10px;
    border-radius: 4px;
    padding: 8px;

}

/* EACH ROW */
.request-row {
    background: #F8FAFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 10px;
    border-radius: 4px;

}

.request-row:last-child {
    border-bottom: none;
}

/* LEFT SIDE */
.left-side {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size: 15px;
    font-weight: bold;
}

.project-title {
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.project-subject {
    color: #6d7580;
    font-size: 13px;
    margin: 2px 0 6px 0;
}

.solicitant {
    font-size: 12px;
    color: #8c8f96;
    margin: 0;
}

/* MIDDLE GRID */
.middle-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 20px;
    align-items: flex-start;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.grid-item .label {
    display: block;
    font-size: 14px;
    color: #334155;
    margin-bottom: 2px;
}

.grid-item .value {
    font-size: 13px;
    font-weight: 600;
    color: #2d2d2d;
}

/* TAGS */
.tag-row {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;

}

.tag:first-child {
    padding: 4px 10px;
    background: #BAE6FD;
    color: #0891B2;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 600;
}

.tag   {
    padding: 4px 10px;
    background: #FEF3C7;
    color: #92400E;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 600;
}

/* PRIORITY */
.priority-tag {
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 11px;
    font-weight: 600;
    display: inline-block;
}

.priority-tag.urgent,.priority-tag.High {
    background: #ffe4e4;
    color: #ff3b3b;
}

.priority-tag.normal {
    background: #e6f7e6;
    color: #2fad00;
}

.priority-tag.confiden»õial,
.priority-tag.confidential {
    background: #eae8ff;
    color: #4f36ff;
}
.prop{
    background: #E2E8F0;
    padding: 4px 7px;
    border-radius: 10px;
}

/* DEADLINE */
.deadlineRequest {
    font-weight: 600;
    color: #0074d9;
    font-size: 13px;
    background: #DBEAFE;
    padding:4px 7px;
    border-radius: 10px;
    border:1px solid #EFF6FF;
}

/* ACTION BUTTON */
.action-col {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.open-btn {
    background: #6b5bff;
    padding: 8px 18px;
    border-radius: 4px;
    color: #fff !important;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease;
}

.open-btn:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

/* main wrapper */
.top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 10px;
    font-family: "Inter", sans-serif;
}

/* LEFT SIDE */
.left-sideList {
    width: 15%;
}

/* labels */
.label {
    font-size: 10px;
    font-weight: 600;
    color: #8c8c8c;
    text-transform: uppercase;
    margin-bottom: 4px;
}

/* status */
.status-text {
    font-size: 13px;
    margin-bottom: 12px;
}

/* buttons row */
.buttons-row {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 6px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.start {
    background: #3b82f6;
    color: white;
}

.pause {
    background: #0ea5e9;
    color: white;
}

.finalize {
    background: #0f172a;
    color: #22c55e;
}

/* overview area */
.overview-box {
    margin-top: 25px;
}

.progress-title {
    font-size: 13px;
    font-weight: 600;
}

.progress-bar {
    width: 300px;
    height: 8px;
    background: #ebebeb;
    border-radius: 10px;
    margin: 8px 0;
}

.progress-fill {
    height: 100%;
    background: #3b82f6;
    border-radius: 10px;
}

.progress-info {
    font-size: 11px;
    color: #777;
}

/* RIGHT SIDE */
.right-sideList {
    width: 38%;
    text-align: left;
}

.time-box {
    background: #f8fafc;
    padding: 18px;
    border-radius: 12px;
    width: 100%;
    border: 1px solid #e5e7eb;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
}

.time-title {
    font-size: 11px;
    font-weight: 600;
    color: #7a7a7a;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.time-info {
    font-size: 13px;
    margin-bottom: 5px;
}

.analyst-times {
    font-size: 12px;
    color: #555;
}

/* edit toggle */
.edit-row {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.edit-label {
    font-size: 13px;
    color: #444;
}

.toggle-switch {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
}

.toggle-on {
    background: #22c55e;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
}

.toggle-off {
    background: #d1d5db;
    color: #555;
    padding: 3px 10px;
    border-radius: 20px;
}
.paginationProjectList{
    background: white;
    border-radius: 4px;
    padding-right: 20px;
}

/* RESPONSIVE FIXES */
@media (max-width: 1100px) {
    .middle-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
    }
}

@media (max-width: 768px) {
    .request-row {
        flex-direction: column;
        gap: 15px;
    }

    .left-side,
    .middle-grid,
    .action-col {
        width: 100%;
    }

    .action-col {
        justify-content: flex-start;
    }
}
