* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Inter", sans-serif;
    background: #f4f7ff;
    color: #111827;
}


.page-wrapper1 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.page-container {

}


.project-header-box {
    background: #ffffff;
    border-radius: 16px;
    padding: 16px 24px;
    margin-bottom: 28px;
    box-shadow: 0 10px 30px rgba(99, 132, 255, 0.12);
    display: flex;
    align-items: center;
    position: relative;
}

.project-header-back {
    color: #64748B;

font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.project-header-back:hover {
    color: #475569;
}

.project-header-title {
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}


.form-card {
    background: #fff;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.04);
}

.form-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 22px;
    font-style: italic;
    color: #0F172A;
}


.row-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    margin-bottom: 20px;
}

.row-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    margin-bottom: 20px;
}

.row-four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    margin-bottom: 20px;
}

.full-width {
    grid-column: 1 / -1;
    margin-top: 18px;
}


.form-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-field label {
    font-size: 15px;
    font-weight: 700;
    color: #334155;
    font-style: normal;
}


.input-box {
    width: 100%;
    border: 1px solid #e3e6ef;
    border-radius: 10px;
    padding: 14px 16px;
    background-color: #F8FAFC !important;

font-size: 16px;
    font-weight: 400;
    transition: 0.2s;
}

.input-box:focus,
.textarea-box:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 0 3px rgba(108, 99, 255, 0.2);
    outline: none;

}

.input-wrapper,
.textarea-wrapper {
    position: relative;
    width: 100%;
}

.badge-inline {
    position: absolute;
    right: 12px;
    top: 12px;
}

.pill-badge {
    border: 1px solid #b8edcc;
    background: #e4f9ee;
    color: #1f8f4a;

font-size: 15px;
    padding: 4px 10px;
    border-radius: 20px;
    white-space: nowrap;
    font-weight: 600;
}


.textarea-box {
    width: 100%;
    min-height: 120px;
    border-radius: 10px;
    padding: 14px 16px;
    border: 1px solid #e3e6ef;
    background: #F8FAFC;

font-size: 16px;
    font-weight: 400;
    resize: none;
}

.textarea-box:focus{
    background-color: #F8FAFC !important;
}


.pill-box {
    background: #f9fafc;
    border: 1px solid #e2e6eb;
    padding: 12px 14px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pill-text {

font-size: 16px;
    font-weight: 600;
}

.pill-text.bold {
    font-weight: 800;
}


.dropdown-box {
    background: #fff;
    border: 1px solid #d8dde6;
    padding: 14px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: border 0.2s;
}
.dropdown-box span{
    color : #0F172A;

font-size: 16px;
    font-weight: 700;
}

.dropdown-box:hover {
    border-color: #6c63ff;
}

.dropdown-selected {
    font-weight: 600;

font-size: 16px;

}

.dropdown-list {
    background: #F8FAFC;
    border: 1px solid #dde2ea;
    border-radius: 12px;
    padding: 14px
}


.radio-item,
.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 0;
    cursor: pointer;

font-size: 16px;
    color: #4F46E5;
}

.checkbox-item.disabled {
    color: #9ca3af;
    cursor: not-allowed;
}


.dropzone {
    background: #f9fafc;
    border: 2px dashed #c7d1e0;
    padding: 26px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
}

.dropzone:hover {
    border-color: #6c63ff;
    background: #f3f4ff;
    transform: scale(1.01);
}

.dropzone p {
    font-weight: 600;

font-size: 16px;
    color: #475569;
}

.drop-hint {


font-size: 16px;
    color: #64748b;
}


.file-item {
    margin-top: 10px;
    background: #eef2ff;
    border: 1px solid #d4d8f0;
    padding: 10px 14px;
    border-radius: 10px;

font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
}


.button-row {
    display: flex;
    gap: 16px;
    margin-top: 22px;
}

.submit-btn,
.createProject,
.draftProject {

font-size: 16px;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.draftProject {

font-size: 16px;
    font-weight: 700;
    padding: 12px 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
    color: #fff;
    background: #334155;
}


.submit-btn {
    background: #6C63FF;
    color: white;
}
.submit-btn:hover {
    background: #575ee0;
}


.createProject {
    background: linear-gradient(90deg, #2563EB 0%, #4F46E5 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 50px;
    font-weight: 600;
}

.createProject:hover {
    background: #FFFFFF;

    background-image: linear-gradient(90deg, #2563EB 0%, #4F46E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border: 1px solid #2563EB ;
}




.draftProject {
    background: #FFFFFF;
    color: #2563EB;
    border: 1px solid #2563EB;
    padding: 15px 50px;
    border-radius: 10px;

}

.draftProject:hover{
    background:linear-gradient(90deg, #2563EB 0%, #4F46E5 100%);
    color: #FFFFFF;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 8px 12px;
    margin-top: 5px;
    border-radius: 4px;

font-size: 16px;
}

.delete-file {
    cursor: pointer;
    color: #ff4d4d;
    font-weight: bold;
    margin-left: 10px;
    font-size: 16px;
    transition: 0.2s;
}

.delete-file:hover {
    color: red;
    transform: scale(1.2);
}

/* Gradient button */
.gradient-btn-dashboard {
    padding: 8px 14px;
    min-width: 12rem;
    border-radius: 16px;
    border: none;

font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    padding-inline: 0.4rem;
    background: linear-gradient(90deg, #4f46e5,  #1ec6cd);
}


.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spin {
    -moz-appearance: textfield; /* Firefox */
}


@media (max-width: 1100px) {
    .row-four { grid-template-columns: repeat(2,1fr); }
}

@media (max-width: 800px) {
    .row-three { grid-template-columns: 1fr; }
}

@media (max-width: 700px) {
    .row-two, .row-four { grid-template-columns: 1fr; }
}
