.wrapper {
    background: #FFF;
    padding: 24px;
    border-radius: 4px;
    width: 300px;
}

.wrapper ul {
    font-size: 14px;
    font-style: normal;
    list-style: none;
}

.wrapper > ul > li > span {
    font-weight: bold;
}

.wrapper ul li > ul {
    padding-left: 20px;
    margin-top: 9px;
}

.wrapper ul li {
    margin-bottom: 9px;
    cursor: pointer;
}

.wrapper ul li span {
    display: flex;
    gap: 6px
}