.wrapper {
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    width: 300px;

}

.wrapper ul {
    font-size: 14px;
    font-style: normal;
    list-style: none;
    color: #42413e;
    margin: 0;
    padding: 0;
    height:100%;
    overflow: auto;
}

.wrapper > ul > li > span {
    font-weight: bold;
}


.wrapper ul li > ul,
.wrapper ul li > div > ul,
.nestedList {
    padding-left: 12.5px;
    margin-left: 7.5px;
    margin-top: 12px;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}


.wrapper > ul > li > ul {
    padding-left: 20px;
    margin-left: 0;
}


.wrapper ul li {
    margin-bottom: 12px;
    cursor: pointer;
}


.wrapper ul li > span {
    display: flex;
    gap: 6px;
    align-items: center;
}


.wrapper ul li span span {
    display: inline;
}

/* --- Your existing helpers --- */
.chapterRow {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dragIcon {
    display: flex;
    align-items: center;
}

.chapterName {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.nestedList li {
    font-size: 12px;
    margin-bottom: 3px;
    cursor: pointer;
}


.addNewItem {
    font-size: 12px;
    font-weight: bold;
    color: #9e9c96;
    cursor: pointer;
    margin-top: 6px;
}


.addNewItem > span {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
