.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
    margin-bottom: 60px;
    margin-top: 20px;
}
.status1{
    display:flex;
    justify-content: center;
    gap:20px;
    width:100%;
}

.status2{
    display:flex;
    justify-content:  center;
    gap:20px;
    width:100%;
}
/* Default box */
.stat-box {
  background: white;
  padding: 18px;
  border-radius: 14px;
  width: 20%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.stat-box .label {

font-size: 16px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 6px;
}

.stat-box h3 {
  font-size: 22px;
  margin: 0;
}

/* Gradient button */
.gradient-btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;

font-size: 16px;
  color: white;
  cursor: pointer;
  font-weight: 600;
    background: linear-gradient(90deg, #1ec6cd, #4f46e5);
}

/* For larger lower-row boxes */

a{
    text-decoration: none;
    text-align: center;
}
/* Blue highlighted box (right side) */
.blue-box {
  background: #b8dbfa;
}
.sec{
  width:100%;
  display: flex;
  justify-content: space-between;
}