.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
    /*margin-bottom: 60px;*/
    /*margin-top: 20px;*/
}
.status1{
    display:flex;
    justify-content: center;
    gap:20px;
    width:100%;
}

.status2{
    display:flex;
    justify-content:  center;
    gap:20px;
    width:100%;
}
/* Default box */
.stat-box {
  background: white;
  padding: 18px;
  border-radius: 14px;
  width: 20%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.stat-box .label {
  font-size: 14px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 6px;
}

.stat-box h3 {
  font-size: 22px;
  margin: 0;
}

/* Gradient button */
.gradient-btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
  font-weight: 600;
    background: linear-gradient(90deg, #1ec6cd, #4f46e5);
}

/* For larger lower-row boxes */

a{
    text-decoration: none;
    text-align: center;
}
/* Blue highlighted box (right side) */
.blue-box {
  background: #b8dbfa;
}
.sec{
  width:100%;
  display: flex;
  justify-content: space-between;
}



.state-v2-wrapper {

}



.stats-wrap {
    display: flex;
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
}

.stats-wrap > .stats-block {
    width: calc(20% - 20px);
    /*flex-grow: 1;*/
    background: #FFF;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.stats-block-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    flex-grow: 1;
}

.stats-block-content > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.stats-block-content-title {
    font-size: 15px;
    font-weight: bold;
    color: #040153;
}

.stats-block-content-value {
    font-size: 24px;
    font-weight: bold;
    color: #666569;
}

.stats-block-content > a {
    font-size: 14px;
    background: linear-gradient(90deg, #1ec6cd, #4f46e5);
    padding: 8px 12px;
    color: #FFF;
    border-radius: 4px;
    align-self: flex-end;
    display: flex;
    gap: 8px;
    align-items: center;
}