.container {
    background: #ffffff;
    padding: 16px;
    border-radius: 10px;
    width:1360px !important;
    margin-top:20px;

}
input{
    border: none;
    outline: none;
    background: transparent;
}
.title {
    font-size: 16px;
    margin-bottom: 4px;

}

.subtitle {

font-size: 15px;
    color: #6b7280;
    margin-bottom: 12px;
}

.table {
    width: 100%;
    border-collapse: collapse;

font-size: 15px;


}

.table th {
    background-color: #F1F5F9 !important;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #e5e7eb;
    font-weight: 700;
    style: bold;
    color: #0F172A;

font-size: 16px;
    border:10px;
}

.table td {
    padding: 6px 8px;
    border-bottom: 1px solid #e5e7eb;
}

.label {
    color: #111827;
}

.value {
    color: #374151;
}
