.container {
    width:100%!important;
}
input{
    border: none;
    outline: none;
    background: transparent;
}
.title {
    font-size: 16px;
    margin-bottom: 20px;
    background: #FFFFFF;
    padding: 10px;

}

.subtitle {

    font-size: 15px;
    color: #6b7280;
    margin-bottom: 12px;
}

.finTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    background: #FFFFFF;
    padding: 10px !important;
    margin-bottom: 20px;
}

.finTable th {
    background-color: #F1F5F9 !important;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
    font-weight: 700;
    style: bold;
    color: #0F172A;

font-size: 16px;
    width: 100%;
    padding: 10px;
}

.finTable td {
    padding:10px ;
    border-bottom: 1px solid #e5e7eb;
}

.label {
    color: #111827;

}

.value {
    color: #374151;
}
