/*.container {*/
/*    padding: 20px;*/
/*}*/

/*.mainCard {*/
/*    background: white;*/
/*    padding: 40px;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);*/
/*    border: 1px solid #e8e8e8;*/
/*}*/

.mainTitle {
    color: #1E3A8A;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}

.sectionTitle {
    color: #0F172A;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px !important;
}

.secondhalf{
   left: 10px;
}
.input{
    width: 1360px;
    height: 200px;
    border-radius:5px ;
}

/* Textarea section */
.textAreaWrapper {
    position: relative;
    margin-bottom: 35px;
}

.textarea {
    width: 100%;
    min-height: 140px;
    padding: 14px;
    border-radius: 6px;
    border: 2px solid #CBD5E1;
    box-sizing: border-box;
    font-size: 14px;
}

.deleteBox {
    position: absolute;
    right: 0;
    bottom: -38px;
    background: #9CA3AF;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;

font-size: 15px;
    cursor: pointer;
}