.container {
    padding: 20px;
}

.mainCard {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid #e8e8e8;
}

.mainTitle {
    color: #0F172A;
    font-weight: 700;
    margin-bottom: 10px !important;
    background: #FFF;
    border-radius: 4px;
    padding: 14px 18px;
    font-size: 16px;
}