.container {
    padding: 20px;
}

.mainCard {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid #e8e8e8;
}

/* Navigation */
.navigation {
    margin: 40px 0;

    background-color: white;
    border-radius: 10px;

}

.navButtons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
    width:60%;
}
.middleButton{
    display: inline-flex;
    align-items: center;
    width: 240px;
    height: 40px;
    background-color: #FFFFFF;
    color: #64748B;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    font-style: italic;
    justify-content: center;
}
.saveButton {
    display: inline-flex;
    align-items: center;
    width: 240px;
    height: 40px;
    background-color: #10B981;
    color: white;
    border: 1px solid #10B981;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    justify-content: center;
}



.nextButton {
    display: inline-flex;
    align-items: center;
    width: 240px;
    height: 40px;
    background-color: #FFFFFF;
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    flex: 1;
    font-style: italic;
    justify-content: center;
}



.saveIcon {
    font-size: 20px;
    margin-right: 12px;
}

.arrowIcon {
    font-size: 20px;
    margin-left: 12px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .mainCard {
        padding: 20px;
    }

    .navigation {
        flex-direction: column;
    }

    .saveButton, .nextButton {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .mainCard {
        padding: 15px;
    }
}
